.banner-heading h1,
.banner-heading p {
    color: white;
}

.banner-heading h1 {
    font-size: 50px;
}

.package-hot {

    background-color: #3F87F5;

}

h2 {

    font-weight: 700;
}

h6 {

    font-weight: 400;
}

.card .btn {

    font-weight: 500;
    color: blue;
    background-color: lightgray;
    border: none;

}

.fa-check-circle {

    color: #5243C2;
    opacity: 0.5;
}

footer {
    background-color: black;
    height: 150px;
    width: 100%;
}